.main_div {
  width: 85vw;
  height: 80vh;
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .component_header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    input {
      width: 25em;
      padding: 0.5em;
      border-radius: 5px;
      border: 1px solid #b4b4b47d;
      outline: none;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      &:focus-within {
        box-shadow: 0px 0px 5px black;
      }
    }
  }
  .main_table {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 3px 9px -2px #000000;
    box-shadow: 0px 3px 9px -2px #000000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    overflow: hidden;
    thead {
      font-weight: bold;
      height: 3em;
      th {
        cursor: pointer;
      }
    }
    tbody {
      .no_data {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
    }
    .row_table {
      border-right: 1px solid #000;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:nth-child(odd) {
        background-color: #d8d8d8;
      }
      &:hover {
        background-color: #f5f5f5;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    span {
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }

    .previous_next_buttons {
      padding: 0.75em;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #ab4e4ea8;
      }
    }
    .pagination_button {
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      padding: 0.75em;
      border: none;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #ab4e4ea8;
      }
    }
    .active {
      background-color: #ab4e4e;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d8d8d8;
    }
  }
}
